<div class="benu-container container-pane">
	<div class="benu-header header-pane">
		<signal>
		</signal>
		<div class="benu-header-controls header-controls"
			ng-if="">
			<benu ng-repeat="">
			</benu>
		</div>		
	</div>
	<div class="benu-body body-pane">
		<signal>
		</signal>
		<icon>
		</icon>
		<context>
		</context>
		<div class="benu-body-controls body-controls">
			<benu ng-repeat="">
			</benu>
		</div>
	</div>
	<div class="benu-footer footer-pane">
		<signal>
		</signal>
		<div class="benu-footer-controls footer-controls">
			<benu ng-repeat="">
			</benu>
		</div>
	</div>
</div>